
body{
    justify-content: center;
    display:flex;
    text-align: center;
    margin: 0;
    background-color: gray;
}

.grid{
    margin: auto;
    margin-top: 8rem;
    width: 30rem;
    height: 30rem;
    background-color: aquamarine;
    border-radius: 15rem;
}

.heart{
    justify-content: center;
    margin: auto;
    margin-top:5rem;
    width: 20rem;
    height: 20rem;
    border-radius: 10rem;
}

.faces{
    margin: auto;
    margin-top: 5rem;
    width: 10rem;
    height: 10rem;
}

.popup{
    margin:auto;
    width: 13rem;
    height: 20rem;
    background-color: rgba(244,244,244, 0.6);
    border: solid black 3px;
    border-radius: 1rem;
}
.popuptwo{
    margin: auto;
    margin-top: 5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2rem;
    width: 10rem;
    height: 10rem;
    background-color: rgba(244,244,244, 0.6);
    border: solid black 3px;
    border-radius: 3rem;
}
.button{
    margin: 3rem;
    color: rgb(247, 247, 204);
    width: 4rem;
    height: 4rem;
    border: solid white 2px;
    border-radius: 2rem;
    background-color: black;
    
}
button:hover{
    background-color: gray;
    color: red;
    cursor:pointer;
}

h2{
    margin: 0px;
}
.start{
    padding-top: 10rem;
    text-align: center;
    background-color: beige;
    text-align: center;
    color: gray;
    font-family: Tahoma;
    font-size: 2em;
}
#go:hover{
    color:yellow;
    cursor:pointer;
}
a{
    color:gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
}
a:hover{
    color:red;
}
@media (max-width: 700px) {
    .grid{
        margin:auto;
        max-width: 30rem;
        max-height: 20rem;
        border-radius: 10rem;
    }

    .heart{
        margin: auto;
        margin-top: 2.5rem ;
        max-width: 15rem;
        max-height: 15rem;
    }
    .faces{
        margin: auto;
        margin-top: 2.5rem;
        width: 10rem;
        height: 10rem;
    }
    .popup{
        margin:auto;
        max-width: 13rem;
        max-height: 19rem;
        background-color: rgba(244,244,244, 0.6);
        border: solid black 3px;
        border-radius: 3rem;
    }.popuptwo{
        margin:auto;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        max-width: 10rem;
        max-height: 10rem;
        background-color: rgba(244,244,244, 0.6);
        border: solid black 3px;
        border-radius: 2rem;
    }
}